<!-- usuarioVer -->
<div *ngIf="opcionUsuario === 'usuarioVer'">
    <div class="input-group mb-3">
        <!-- [(ngModel)]="terminoBusqueda" -->
        <input type="text" class="form-control" #buscarTexto placeholder="Introduce nombre a buscar" aria-label="Recipient's username" aria-describedby="button-addon2" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="getUsuarioPorNombre(buscarTexto.value)">
        Buscar
      </button>
        </div>
    </div>
    <div *ngIf="!usuarioSeleccionado">
        <div *ngFor="let item of usuariosFiltrados" class="card text-white bg-secondary mb-3">
            <div class="card-header">{{ item.nombre + " " + item.apellidos}}</div>
            <div class="card-body">
                <button class="btn btn-primary" (click)="cargarDatosUsuario(item)">
        Ver más...
      </button>
            </div>
        </div>
    </div>
    <div *ngIf="usuarioSeleccionado" class="card bg-light mb-3">
        <div class="card-header">
            <span class="badge badge-pill badge-primary">
        {{ usuarioSeleccionado.id }}
      </span> {{ usuarioSeleccionado.nombre }} {{ usuarioSeleccionado.apellidos }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ usuarioSeleccionado.email }}</h5>
            <p>Nombre: {{ usuarioSeleccionado.nombre }}</p>
            <p>Apellidos: {{ usuarioSeleccionado.apellidos }}</p>
            <p>Contraseña: {{ usuarioSeleccionado.contrasena }}</p>
            <p>Rol: {{ usuarioSeleccionado.rol }}</p>
        </div>
    </div>
</div>




<!-- usuarioAnadir -->
<div *ngIf="opcionUsuario === 'usuarioAnadir'">
    <form>
        <div class="form-group">
            <label for="exampleInputNombre">Nombre</label>
            <input #nombreUsuario type="email" class="form-control" id="exampleInputNombre" aria-describedby="NombreHelp" placeholder="Nombre" required />
        </div>
        <div class="form-group">
            <label for="exampleInputApellidos">Apellidos</label>
            <input #apellidosUsuario type="text" class="form-control" id="exampleInputApellidos" aria-describedby="ApellidosHelp" placeholder="Apellidos" required />
        </div>
        <div class="form-group">
            <label for="exampleInputApellidos">Email</label>
            <input #emailUsuario type="email" class="form-control" id="exampleInputEmail" aria-describedby="ApellidosHelp" placeholder="Email" required />
        </div>
        <div class="form-group">
            <label for="exampleInputEmail">Contraseña</label>
            <input #contrasenaUsuario type="password" class="form-control" id="exampleInputContrasena" placeholder="Contraseña" required />
        </div>
        <button type="button" class="btn btn-block  btn-info" (click)="
        anadirUsuario(
          nombreUsuario.value,
          apellidosUsuario.value,
          emailUsuario.value,
          contrasenaUsuario.value
        );
      ">
      Añadir usuario
    </button>
    </form>
</div>

<!-- usuarioAnadirTrabajo -->
<div *ngIf="opcionUsuario == 'usuarioAnadirTrabajo'">
    <div class="input-group mb-3">
        <input type="text" class="form-control" #buscarTextoAnadirTrabajoUsuario placeholder="Introduce nombre de usuario" aria-label="Recipient's username" aria-describedby="button-addon2" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="limpiarUsuariosFiltrados(); limpiarTrabajos(); getUsuarioPorNombre(buscarTextoAnadirTrabajoUsuario.value); ">
        Buscar
      </button>
        </div>
    </div>

    <div *ngFor="let item of usuariosFiltrados" class="card text-white bg-secondary mb-3">
        <div class="card-header">{{ item.nombre }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ item.nombre + ' ' + item.apellidos}}</h5>
            <p class="card-text">
                {{ item.email }}
            </p>
            <button class="btn btn-primary" (click)="cargarDatosUsuario(item); getTrabajosUsuario(false,item.id); limpiarUsuariosFiltrados()">
        Añadir trabajo a usuario
      </button>
        </div>
    </div>


    <div *ngIf="usuarioSeleccionado">
        <div *ngIf="usuarioSeleccionado" class="card bg-light mb-3">
            <div class="card-header">
                <span class="badge badge-pill badge-primary">
        {{ usuarioSeleccionado.id }}
      </span> {{ usuarioSeleccionado.nombre }} {{ usuarioSeleccionado.apellidos }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ usuarioSeleccionado.email }}</h5>
                <p>Nombre: {{ usuarioSeleccionado.nombre }}</p>
                <p>Apellidos: {{ usuarioSeleccionado.apellidos }}</p>
                <p>Contraseña: {{ usuarioSeleccionado.contrasena }}</p>
                <p>Rol: {{ usuarioSeleccionado.rol }}</p>

            </div>
        </div>
    </div>

    <table *ngIf="trabajos" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <td scope="col">Nombre</td>
            </tr>
        </thead>
        <tbody *ngFor="let item of trabajos; let i = index">
            <tr>
                <th scope="row">
                    <br>
                    <h3>
                        <a class="btn btn-sm btn-primary" (click)="anadirTrabajoUsuario(usuarioSeleccionado.id,item.id); getTrabajosUsuario(false,usuarioSeleccionado.id); presentAlert('Ok','Trabajo asignado a ','',''); "><span class="glyphicon glyphicon-ok-circle"></span> Añadir trabajo</a>
                    </h3>
                    <br>
                </th>
                <td>
                    <!-- <span class="badge badge-pill badge-primary">{{ item.id }}</span> -->
                    <ion-icon name="information-circle-outline" (click)="presentAlert('Descripción','',item.descripcion,'ok')"></ion-icon>
                    {{ item.nombre }}
                </td>
            </tr>
        </tbody>
    </table>

</div>

<!-- usuarioModificar -->
<div *ngIf="opcionUsuario=='usuarioModificar' ">
    <div class="input-group mb-3 ">
        <input type="text " class="form-control " #buscarTextoModificarUsuario placeholder="Introduce nombre a buscar " aria-label="Recipient 's username" aria-describedby="button-addon2" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="getUsuarioPorNombre(buscarTextoModificarUsuario.value)">
        Buscar
      </button>
        </div>
    </div>
    <div *ngFor="let item of usuariosFiltrados" class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">{{ item.nombre }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ item.nombre + ' ' + item.apellidos}}</h5>
            <p class="card-text">
                {{ item.email }}
            </p>
            <button class="btn btn-primary" (click)="cargarDatosUsuarioLimpiarFiltrados(item);">
Editar usuario
      </button>

        </div>
    </div>
    <div *ngIf="usuarioSeleccionado">
        <form>
            <div class="form-group">
                <label for="exampleInputNombre">Nombre</label>
                <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="ApellidosHelp" placeholder="Nombre" [value]="usuarioSeleccionado.nombre" />
            </div>
            <div class="form-group">
                <label for="exampleInputApellidos">Apellidos</label>
                <input type="text" class="form-control" id="exampleInputApellidos" aria-describedby="ApellidosHelp" placeholder="Apellidos" [value]="usuarioSeleccionado.apellidos" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" [value]="usuarioSeleccionado.email" />
            </div>
            <div class="form-group">
                <label for="exampleInputPass">Contraseña</label>
                <input type="text" class="form-control" id="exampleInputPass" placeholder="Contraseña" [value]="usuarioSeleccionado.contrasena" />
            </div>
            <button class="btn btn-info">Guardar cambios</button>
        </form>
    </div>
</div>

<!-- usuarioBorrar -->
<div *ngIf="opcionUsuario == 'usuarioBorrar'">

    <div class="input-group mb-3">
        <!-- [(ngModel)]="terminoBusqueda" -->
        <input type="text" class="form-control" #buscarTextoBorrarUsuario placeholder="Introduce nombre a buscar" aria-label="Recipient's username" aria-describedby="button-addon2" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="getUsuarioPorNombre(buscarTextoBorrarUsuario.value)">
          Buscar
        </button>
        </div>
    </div>
    <div *ngFor="let item of usuariosFiltrados" class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">{{ item.nombre }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ usuarioSeleccionado.email }}</h5>
            <p>Nombre: {{ usuarioSeleccionado.nombre }}</p>
            <p>Apellidos: {{ usuarioSeleccionado.apellidos }}</p>
            <p>Contraseña: {{ usuarioSeleccionado.contrasena }}</p>
            <p>Rol: {{ usuarioSeleccionado.rol }}</p>
        </div>
    </div>

</div>