<ion-header>
    <ion-toolbar>
        <ion-title> Ionic APP </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Inicio</a
    >
    <a
      class="nav-item nav-link"
      id="nav-profile-tab"
      data-toggle="tab"
      href="#nav-profile"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
      >Usuario</a
    >
    <a
      class="nav-item nav-link"
      id="nav-contact-tab"
      data-toggle="tab"
      href="#nav-contact"
      role="tab"
      aria-controls="nav-contact"
      aria-selected="false"
      >Configuración</a
    >
  </div>
</nav>

<!-- FICHADO -->
<div class="tab-content" id="nav-tabContent">
  <div
    class="tab-pane fade show active"
    id="nav-home"
    role="tabpanel"
    aria-labelledby="nav-home-tab"
  >
  <!-- SELECCION TRABAJO -->
  <!-- <form >    [formGroup]="registerForm" (ngSubmit)="onSubmit()" -->
  <ion-list>    
    <ion-item>
      <ion-label class="resaltado">Selecciona trabajo</ion-label>
      <ion-select okText="OK" cancelText="Cancelar" [(ngModel)]="trabajo" name="xx">
        <ion-select-option *ngFor="let item of trabajos" [value]="item" (ionSelect)="asignarTrabajo(item)">{{ item.nombre }}</ion-select-option>
      </ion-select>
    </ion-item> 

    <!-- TIPO JORNADA -->
    <!-- <ion-item>
      <ion-label class="resaltado" >Jornada continua</ion-label>
      <ion-toggle color="primary"  [(ngModel)]="jornadaContinua" checked name="sdsd"></ion-toggle>
    </ion-item> -->

    <!-- FECHA -->
    <ion-item>
      <ion-label class="resaltado">Fecha</ion-label>
      <ion-datetime disabled   display-format="YYYY-MM-DD" done-text="OK" cancel-text="Cancelar" [(ngModel)]="fecha"></ion-datetime>
    </ion-item>

  

  </ion-list>


  <div *ngIf="!jornadaContinua">
    <br>
      <p class="resaltado">Mañana:</p>
  </div>
  
  <ion-list>
      <ion-item>
          <ion-label class="resaltado">Desde</ion-label>
          <ion-datetime display-format="HH:mm" done-text="OK" cancel-text="Cancelar" minuteValues="0,15,30,45" [(ngModel)]="horaInicioManana" ></ion-datetime>
        </ion-item>
      <ion-item>
          <ion-label class="resaltado">Hasta</ion-label>
          <ion-datetime display-format="HH:mm" done-text="OK" cancel-text="Cancelar" minuteValues="0,15,30,45" [(ngModel)]="horaFinManana"></ion-datetime>
        </ion-item>

  </ion-list>
  
  
  <div *ngIf="!jornadaContinua">
    <br>
    <p class="resaltado">Tarde:</p>
    <ion-list>
      <ion-item>
        <ion-label class="resaltado">Desde</ion-label>
        <ion-datetime display-format="HH:mm" done-text="OK" cancel-text="Cancelar" minuteValues="0,15,30,45" [(ngModel)]="horaInicioTarde"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="resaltado">Hasta</ion-label>
        <ion-datetime display-format="HH:mm" done-text="OK" cancel-text="Cancelar" minuteValues="0,15,30,45" [(ngModel)]="horaFinTarde"></ion-datetime>
      </ion-item>
      
    </ion-list>
  </div>

  <ion-list>
    <ion-item>
  <ion-label class="resaltado">Comentario</ion-label>
  
</ion-item>
<textarea class="form-control" id="exampleFormControlTextarea1" rows="5" [(ngModel)]="comentario"></textarea>
</ion-list>

  <ion-button color="primary" expand="block" (click)="ficharDiaUsuario();" >Fichar</ion-button>
  <!-- type="submit" -->
<!-- </form> -->





  </div>

  <!-- USUARIO -->
  <div
    class="tab-pane fade"
    id="nav-profile"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <form>
      <div class="form-group">
        <label for="exampleInputNombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputNombre"
          aria-describedby="ApellidosHelp"
          placeholder="Nombre"
          [value]="usuario.nombre"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputApellidos">Apellidos</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputApellidos"
          aria-describedby="ApellidosHelp"
          placeholder="Apellidos"
          [value]="usuario.apellidos"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail"
          placeholder="Email"
          [value]="usuario.email"
        />
      </div>
      <div class="row">
        <div class="col-12">
          <div class="list-group" id="list-tab" role="tablist">
            <a
              class="list-group-item list-group-item-action active"
              id="list-home-list"
              data-toggle="list"
              href="#list-home"
              role="tab"
              aria-controls="home"
              >Home</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-profile-list"
              data-toggle="list"
              href="#list-profile"
              role="tab"
              aria-controls="profile"
              >Profile</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-messages-list"
              data-toggle="list"
              href="#list-messages"
              role="tab"
              aria-controls="messages"
              >Messages</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-settings-list"
              data-toggle="list"
              href="#list-settings"
              role="tab"
              aria-controls="settings"
              >Settings</a
            >
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="list-home"
              role="tabpanel"
              aria-labelledby="list-home-list"
            >
              ...
            </div>
            <div
              class="tab-pane fade"
              id="list-profile"
              role="tabpanel"
              aria-labelledby="list-profile-list"
            >
              ...
            </div>
            <div
              class="tab-pane fade"
              id="list-messages"
              role="tabpanel"
              aria-labelledby="list-messages-list"
            >
              ...
            </div>
            <div
              class="tab-pane fade"
              id="list-settings"
              role="tabpanel"
              aria-labelledby="list-settings-list"
            >
              ...
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- CAMBIO CONTRASENA -->
  <div
    class="tab-pane fade"
    id="nav-contact"
    role="tabpanel"
    aria-labelledby="nav-contact-tab"
  >
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Email"
        />
      </div>

      <div class="form-group">
        <label for="exampleInputPassword">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword"
          placeholder="Contraseña"
        />
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Nueva contraseña</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Nueva contraseña"
        />
        <small id="emailHelp" class="form-text text-muted"
          >Repita contraseña.</small
        >
      </div>
      <!--
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
      -->
      <button type="button" class="btn btn-primary">
        Actualizar contraseña
      </button>
    </form>
  </div>
</div>

<!-- <button [routerLink]="['/login']" routerLinkActive="router-link-active">
  Login
</button>
<button [routerLink]="['/admin']" routerLinkActive="router-link-active">
  Admin
</button> -->


</ion-content>